@charset "utf-8";

html, body {
  background: $dark;
  font-family: "surfacemedium", sans-serif;
  font-weight: normal !important;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: $light;

  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  font-weight: normal;
}

p {
  text-transform: none;
  font-size: 16pt;
}

h1, h2, h3, h4, h5 {
  font-family: "troikaregular", sans-serif;
  text-shadow:0px 2px 0px #454545;
}

h1 {
  font: normal 72px $header-font;

  @media screen and (max-width: $tablet-break) {
    font-size: 52px;
  }
}

h2 {
  font: normal 56px $header-font;

  @media screen and (max-width: $tablet-break) {
    font-size: 40px;
  }
}

h3 {
  font: normal 40px $header-font;

  @media screen and (max-width: $tablet-break) {
    font-size: 28px;
  }
}

.hero {
  @include clearfix();

  margin: 0 auto;
  position: relative;

  & > div {
    max-width: 60em;
    margin: 0 auto;
  }
}

.logo {
  float: left;
  color: #fff;
  font-family: "troikaregular";
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  height: $nav-height;
  line-height: $nav-height;
  font-size: $nav-font-size;
  padding-left: 1em;
  text-decoration: none;
  background: $dark;
  pointer-events: auto;
}

.nav-header {
  color: #fff;
  font-family: "troikaregular";
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  height: $nav-height;
  text-decoration: none;
  background: $dark;
  pointer-events: auto;
}

footer {
  @include clearfix();
  background: $dark;
  color: $light;
  padding: 1.25em 0 1em 0;
  max-width: 60em;
  margin: auto;
}
