@charset "utf-8";

html, body {
  background: $light;
  font-family: $page-font;
  font-weight: normal !important;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: $light;

  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  font-weight: normal;
}

h1 {
  font: normal 72px $header-font;

  @media screen and (max-width: $tablet-break) {
    font-size: 52px;
  }
}

h2 {
  font: normal 56px $header-font;

  @media screen and (max-width: $tablet-break) {
    font-size: 40px;
  }
}

h3 {
  font: normal 40px $header-font;

  @media screen and (max-width: $tablet-break) {
    font-size: 28px;
  }
}

header {
  & > div {
    max-width: 60em;
    margin: 0 auto;
  }
}

.hero {
  @include clearfix();

  margin: 0 auto;
  position: relative;

  & > div {
    max-width: 60em;
    margin: 0 auto;
  }
}

header {
  background-color: $dark;
}

.logo {
  float: left;
  color: #fff;
  font-family: $header-font;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  height: $nav-height;
  line-height: $nav-height;
  font-size: $nav-font-size;
  padding-left: 1em;
  text-decoration: none;
  pointer-events: auto;
}

.nav-header {
  color: #fff;
  font-family: $header-font;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  height: $nav-height;
  text-decoration: none;
  pointer-events: auto;
}

footer {
  @include clearfix();
  background: $dark;
  color: $light;
  padding: 1.25em 0 1em 0;
  max-width: 60em;
  margin: auto;
}
