@charset "utf-8";

html, body {
  background: $light;
  font-family: $page-font;
  font-weight: normal !important;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: $dark;

  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  font-weight: normal;
}

h1 {
  font: normal 72px $header-font;
  text-transform: uppercase;

  @media screen and (max-width: $tablet-break) {
    font-size: 52px;
  }
}

h2 {
  font: normal 56px $page-font;
  font-weight: 200;

  @media screen and (max-width: $tablet-break) {
    font-size: 40px;
  }
}

h3 {
  font: normal 40px $header-font;

  @media screen and (max-width: $tablet-break) {
    font-size: 28px;
  }
}

.hero {
  @include clearfix();

  margin: 0 auto;
  position: relative;

  & > div {
    max-width: 60em;
    margin: 0 auto;
  }
}

.vertical-center {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;

  & > div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

footer {
  @include clearfix();
  background: $dark;
  color: $light;
  padding: 1.25em 0 1em 0;
  max-width: 60em;
  margin: auto;
}
