// Font definitions
$main-font: "troikaregular", sans-serif;

// Color definitions
$dark:  #000000;
$dark-grey:  #555555;
$light: #ffffff;

$adventure: #45b7e8;
$with:      #CCCBCB;
$friends:   #f9bb16;

$bronze: #CD7F32;
$silver: #B0B0B0;
$gold: #FFD700;
$platinum: #E0FFFF;
$crystalline: #00FFFF;
$dragonscale: #CC0000;
$epic: #BF5FFF;
$legendary: #FFA500;
$mythic: #00FA9A;
$kickstarter: #2BDE73;

$custom-bg: #5D99CB;
$custom-em: #FFF100;

$explore-bg: #8BD4E1;
$explore-em: #69BD45;

$battle-bg: #FFCC66;
$battle-em: #4068B1;

$play-bg: #D1E7C5;
$play-em: #CA3726;

// Size calculations
$nav-height: 72px;
$nav-font-size: 30px;
$nav-font-pad-top: ($nav-height - $nav-font-size)/2;
$nav-logo-height: 200px;
$nav-logo-height-mobile: 128px;

$mobile-break: 40em;
$tablet-break: 60em;

@mixin aspect-ratio($width, $height) {
  position: relative;

  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }

  > * {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
