// Font definitions
$header-font: "Fjalla One", sans-serif;
$page-font: "Source Sans Pro", sans-serif;

// Color definitions
$dark:  #000000;
$dark-grey:  #555555;
$light-grey: #CCCCCC;
$light: #ffffff;

// Size calculations
$nav-height: 72px;
$nav-font-size: 30px;
$nav-font-pad-top: ($nav-height - $nav-font-size)/2;
$nav-logo-height: 200px;
$nav-logo-height-mobile: 128px;

$mobile-break: 40em;
$tablet-break: 60em;

$viewport-height: 100vh;
$heading-height: 100px;

// Mixins
@mixin clearfix() {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin aspect-ratio($width, $height) {
  position: relative;

  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }

  > * {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

@mixin transition($duration) {
    -webkit-transition: $duration;
    -moz-transition: $duration;
    -ms-transition: $duration;
    -o-transition: $duration;
    transition: $duration;
}

@mixin hoverOpacity() {
  opacity: .7;

  @include transition (.2s);
  &:hover {
    opacity: 1;
  }
}

@mixin viewport-under-nav () {
  height: -webkit-calc(#{$viewport-height} - #{$nav-height});
  height: -moz-calc(#{$viewport-height} - #{$nav-height});
  height: calc(#{$viewport-height} - #{$nav-height});
}

@-webkit-viewport { width: device-width; }
@-moz-viewport    { width: device-width; }
@-ms-viewport     { width: device-width; }
@-o-viewport      { width: device-width; }
@viewport         { width: device-width; }
