@charset "utf-8";

$content-max-width: 60em;
$mobile-breakpoint: 720px;

@mixin col() {
    display: inline-block;
    vertical-align: top;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */

    @media(max-width: $mobile-breakpoint) {
        min-width: 100%;
    }
}

.col-2 {
    width: 50%;
    @include col();
}

.col-3 {
    width: 33.33%;
    @include col();
}

.row {
    max-width: $content-max-width;
    margin: 0 auto;
}
