@import 'cssreset';
@import 'fonts';
@import 'colors';

$transition-duration: .2s;
@mixin transition($duration) {
    -webkit-transition: $duration;
    -moz-transition: $duration;
    -ms-transition: $duration;
    -o-transition: $duration;
    transition: $duration;
}

@mixin box-shadow-inactive() {
    -webkit-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
}

@mixin box-shadow-active() {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(255,255,255,1);
    box-shadow: 0px 0px 10px 0px rgba(255,255,255,1);
}

$border-inactive: 1px solid $color-content-grey;
$border-active: 1px solid $color-content-white;

body {
    background-color: $color-background-grey;
    font-family: 'Fjalla One', sans-serif;
    color: $color-content-white;
}

h1 {
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
    font-size: 32pt;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    font-size: 16pt;
}
