$modal-border-radius: 50px 50px 50px 50px;
$modal-border-radius-top: 49px 49px 0px 0px;

.modal-blind {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.8);

    .modal {
        background-color: $color-background-grey;
        max-width: $content-max-width;
        max-height: 80vh;
        margin: 0 auto;
        width: 30em;
        @include vertical-center();
        border-radius: $modal-border-radius;
        border: $border-inactive;
    }
}
