#featured-blogs {
    background-color: $light;

    article {

        padding-top: 20px;

        .blog-row {
            margin-top: 34px;
        }

        .blog-entry {
            background-color: $dark;
            height: 240px;
            position: relative;
            background-position: center;
            background-size: cover;
            -webkit-box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.51);
            -moz-box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.51);
            box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.51);

            .blog-entry-container {
                height: 100%;
                background-color: rgba(0, 0, 0, 0.65);

                .blog-title {
                    padding: 20px;
                    font-size: 18pt;
                }

                .blog-links {
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    margin-bottom: 20px;

                    a {
                        margin: 12px;
                    }
                }

                @include transition(1s);
                opacity: 0;
            }

            &:hover {

                .blog-entry-container {
                    @include transition(.3s);
                    opacity: 1;
                }
            }
        }
    }
}
