#me {
  text-align: center;
  height: 100vh;

  @media screen and (max-width: $tablet-break) {
    margin-top: $nav-height;
    height: auto;
  }

  img {
    height: 400px;
    border: 3px solid black;

    @media screen and (max-width: $tablet-break) {
      height: 200px;
      margin-top: 40px;
      margin-bottom: 40px;
    }
  }

  h2 {
    color: $dark-grey;
    font-size: 48px;
    line-height: 0.8em;
  }

  & > div {
    height: 100%;
  }

  .contact {
    a {
      color: $dark-grey;
      font-size: 24px;
      font-family: $header-font;
      text-decoration: none;
      text-transform: uppercase;
      margin: 14px;
      @include hoverOpacity ();
    }

    @media screen and (max-width: $tablet-break) {
      margin-top: 40px;
      margin-bottom: 40px;
    }
  }
}
