@mixin projectBackground ($path, $opacity) {
  & > div:before {
    content: "";
    background-image: url($path);
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: $opacity;
  }
}

#projects, #experience {
    background-color: $dark;
    color: $light;

  article {
    @include viewport-under-nav ();
    text-align: center;

    @media screen and (max-width: $tablet-break) {
      padding-top: 40px;
      padding-bottom: 40px;
      height: auto;
      border-bottom: 1px solid white;
    }

    & > div {
      height: 100%;
    }

    .project-logo, .experience-logo, .experience-projects {
      img {
        width: 100%;
      }
    }

    .project-responsibilities, .experience-responsibilities {
      text-transform: uppercase;
    }

    .project-duration, .experience-duration {
      color: $light-grey;
    }

    .experience-projects {

      @media screen and (min-width: $tablet-break) {
        height: 250px;
      }

      a {
        @include hoverOpacity ();
      }
    }

    .project-content, .experience-content {
      padding-left: 20px;
      padding-right: 20px;
    }

    .project-links {

      margin-top: 10px;

      a {
        color: $light;
        text-decoration: none;
        margin: 10px;
        @include hoverOpacity ();
      }
    }
  }

  #adventure-guild {
    @media screen and (min-width: $tablet-break) {
      @include projectBackground("../imgs/projects/adventure-guild/banner.png", 0.5);
    }
  }

  #lazer-maze {
    @media screen and (min-width: $tablet-break) {
      @include projectBackground("../imgs/projects/lazer-maze/banner.png", 0.5);
    }
  }

  #exoterra {
    @media screen and (min-width: $tablet-break) {
      @include projectBackground("../imgs/projects/exoterra/banner.png", 0.5);
    }
  }

  #hearplay {
    @media screen and (min-width: $tablet-break) {
      @include projectBackground("../imgs/projects/hearplay/banner.png", 0.4);
    }
  }

  #yes-and-games {
    @media screen and (min-width: $tablet-break) {
      @include projectBackground("../imgs/experience/yes-and-games/banner.jpg", 0.3);
    }
  }

  #music-social {
    @media screen and (min-width: $tablet-break) {
      @include projectBackground("../imgs/experience/music-social/bg.png", 0.8);
    }
  }
}
