#projects {

  background-color: $dark;

  article {
    height: 100vh;

    & > div {
      height: 100%;
    }
  }

  #adventure-guild {

    img {
      width: 100%;
    }

    & > div::after {
      content: "";
      background-image: url("../imgs/projects/adventure-guild/camping.png");
      background-size: cover;
      opacity: 0.5;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1;
    }
  }
}
