@mixin projectBackground ($path) {
  & > div:before {
    content: "";
    background-image: url($path);
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.3;
  }
}

#projects {

  background-color: $dark;
  color: $light;

  article {
    height: 100vh;
    text-align: center;

    & > div {
      height: 100%;
    }

    .project-logo {
      img {
        width: 100%;
      }
    }

    .project-responsibilities {
      text-transform: uppercase;
    }

    .project-duration {
      color: $light-grey;
    }
  }

  #adventure-guild {
    @include projectBackground("../imgs/projects/adventure-guild/camping.png");
  }

  #exoterra {
    @include projectBackground("../imgs/projects/exoterra/banner.png");
  }
}
