#skills {

  h2 {
    text-align: center;
    margin-top: 20px;
  }

  .skill {

    margin-top: 20px;
    margin-bottom: 20px;

    height: 100px;
    text-transform: uppercase;
    text-align: center;

    h3 {
      font-family: $header-font;
      font-size: 24pt;
    }

    h4 {
      font-family: $page-font;
      font-size: 14pt;
      letter-spacing: 5px;
    }

    img {
      height: 100%;
      margin: 0 auto;
      display: block;
    }
  }

  #unity {

  }
}
