#about {

    .portrait {
        text-align: center;

        img {
            width: 100%;

            @media(max-width: $tablet-breakpoint) {
                max-width: 40%;
            }

            @media(max-width: $tablet-breakpoint) {
                max-width: 80%;
            }
        }
    }

    .about-text {
        padding: 20px;

        .about-header {
            margin-bottom: 12px;
        }
    }
}
