$footer-height: 30px;
$footer-height-mobile: 80px;

#contact {
    height: $footer-height;
    padding: 20px;
    border-top: $border-inactive;
    background-color: $color-background-grey;
    @include box-shadow-inactive();

    @media(max-width: $mobile-breakpoint) {
        height: $footer-height-mobile;
    }

    .contact {
        float: left;

        @media(max-width: $mobile-breakpoint) {
            float: none;
            text-align: center;
            margin-bottom: 20px;
        }

        .contact-link {
            display: inline-block;
            margin-right: 10pt;

            i {
                margin-right: 4px;
            }

            h3 {
                display: inline;
            }
        }
    }

    .social {

        @media(max-width: $mobile-breakpoint) {
            text-align: center;
        }

        ul {

            li {
                float: right;
                display: inline;

                @media(max-width: $mobile-breakpoint) {
                    float: none;
                }
            }
        }
    }
}
