$footer-height: 30px;
$footer-height-mobile: 80px;

#contact {
    height: $footer-height;
    padding: 20px;
    margin: 0;
    border-top: $border-inactive;
    background-color: $color-background-grey;
    
    @include box-shadow-inactive;
    
    @media(max-width: $tablet-breakpoint) {
        height: auto;
    }
    
    .contact {
        float: left;
        
        @media(max-width: $tablet-breakpoint) {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 12px;
            margin: 0;
            padding: 0;
            list-style: none;
            float: none;
            
            ul li {
                float: none !important;        /* kill the float */
                display: block !important;     /* block so they stack */
                margin-bottom: 10pt;
                font-size: 0.6rem;
            }
        }
        
        .contact-link {
            position: relative;
            display: inline-flex;
            margin-right: 10pt;
            cursor: pointer;
            
            h3.small-text {
                display: none;
            }
            
            @media(max-width: $mobile-breakpoint) {
                h3.default-text {
                    display: none;
                }
                
                h3.small-text {
                    display: inline;
                }
            }
            
            i {
                margin-right: 4px;
            }
            
            h3 {
                display: inline;
            }
            
            &.copied::after {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 0%;
                height: 100%;
                background: linear-gradient(90deg, #2f6e3a, #2f6e3a);
                mix-blend-mode: color-dodge;
                animation: fill-green 1.5s ease forwards;
                pointer-events: none;
                border-radius: 6px;
                
                @keyframes fill-green {
                    0% {
                        width: 0%;
                        opacity: 1;
                    }
                
                    30% {
                        width: 100%;
                        opacity: 1;
                    }
                
                    70% {
                        left: 0;
                        width: 100%;
                        opacity: 1;
                    }
                
                    100% {
                        left: 100%;
                        width: 0%;
                        opacity: 1;
                    }
                }
            }
            
            .tooltip {
                position: absolute;
                left: 50%;
                bottom: calc(100% + 8px);
                transform: translateX(-50%);
                background: #333;
                color: #fff;
                padding: 1rem;
                border-radius: 6px;
                font-size: 1rem;
                white-space: nowrap;
                pointer-events: none;
                opacity: 0;
                animation: fade-in-out 1.5s ease forwards;
                border: 1px solid #5ad16f;
                box-shadow: 0 0 6px rgb(90 209 111 / 30%);
                z-index: 10;
                align-items: center;
                justify-content: center;
                display: inline-flex;
                gap: 6px;
                
                &::after {
                    content: "";
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    transform: translateX(-50%);
                    border-width: 6px;
                    border-style: solid;
                    border-color: #333 transparent transparent;
                }
                
                &::before {
                    content: "";
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    transform: translateX(-50%);
                    border-width: 7px;
                    border-style: solid;
                    border-color: #5ad16f transparent transparent;
                    z-index: -1;
                }
            }
            
            @keyframes fade-in-out {
                0% {
                    opacity: 0;
                    transform: translate(-50%, 5px);
                }
            
                20% {
                    opacity: 1;
                    transform: translate(-50%, 0);
                }
            
                80% {
                    opacity: 1;
                    transform: translate(-50%, 0);
                }
            
                100% {
                    opacity: 0;
                    transform: translate(-50%, 5px);
                }
            }
        }
    }
    
    .social {
        ul {
            li {
                float: right;
                display: inline;
            }
        }
        
        @media(max-width: $tablet-breakpoint) {
            display:block;
            text-align: center;
            
            ul li {
                float: none !important;        /* kill the float */
            }
        }
    }
}
