$nav-height: 80px;
$nav-height-mobile-extension: 40px;

.nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: $nav-height;
    border-bottom: $border-inactive;
    color: $color-content-white;
    background-color: $color-background-grey;
    box-shadow: 0 6px 10px -6px rgb(0 0 0 / 75%);

    @media(max-width: $mobile-breakpoint) {
        height: #{$nav-height + $nav-height-mobile-extension};
    }

    .logo {
        float: left;
        text-align: center;
        vertical-align: middle;
        margin-top: 8px;
        margin-left: 1rem;
        user-select: none;
        cursor: default;

        @media(max-width: $mobile-breakpoint) {
            float: none;
            margin-left: 0;
        }

        h1 {
            color: $color-content-white;
        }

        h3 {
            font-weight: 200;
        }
    }

    .nav-links {
        float: right;
        margin-top: 24px;
        margin-right: 1rem;

        @media(max-width: $mobile-breakpoint) {
            text-align: center;
            margin-top: 12px;
            margin-right: 0;
            float: none;
        }

        ul {
            li {
                display: inline-block;
                text-transform: uppercase;
                font-size: 24pt;
                margin-left: 14pt;

                @media(max-width: $mobile-breakpoint) {
                    margin-left: 7pt;
                    margin-right: 7pt;
                    font-size: 18pt;
                }

                &:hover {
                    cursor: pointer;

                    @include transition($transition-duration);

                    color: $color-content-white;
                }

                @include transition($transition-duration);

                color: $color-content-grey;
            }
        }
    }
}

.content-under-nav-margin
{
    margin-top: $nav-height;

    @media(max-width: $mobile-breakpoint) {
        margin-top: calc(#{$nav-height} + #{$nav-height-mobile-extension});
    }
}