$margin-top-projects: calc(#{$nav-height} + #{$section-margin});
$width-project-banner: 240px;

#games {
    margin-top: $margin-top-projects;

    .project-group {
        width: $width-project-banner;
        margin: 0 auto;

        .project-group-header {
            border-bottom: $border-inactive;
            max-width: $width-project-banner;
            padding-bottom: 4px;
            margin-bottom: 8px;

            img {
                width: 30px;
                margin-right: 8px;
                display: inline;
            }

            h4 {
                display: inline;
            }
        }

        .project {
            width: $width-project-banner;
            height: 40px;
            margin-bottom: 4px;

            .overlay {
                position: relative;
                width: 100%;
                height: 100%;
                background: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to right, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

                .text-container {
                    position: absolute;
                    bottom: 0;
                    padding: 4px;

                    span {
                        line-height: 1.4em;

                        h5 {
                            display: inline;
                        }

                        i {
                            margin-left: 8px;
                        }
                    }

                    p {
                        font-size: 8pt;
                    }
                }

                @include transition($transition-duration);
                opacity: 0;
            }

            &:hover {
                cursor: pointer;

                .overlay {

                    @include transition($transition-duration);
                    opacity: 1;
                }

                @include transition($transition-duration);
                outline: $border-active;
            }

            @include transition($transition-duration);
            outline: $border-off;
        }
    }
}
