.project-modal {
    height: 100%;

    .header {
        height: 100px;
        background-size: cover;
        background-position: right;
        border-radius: $modal-border-radius-top;
        border-bottom: $border-inactive;

        .overlay {
            position: relative;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            border-radius: $modal-border-radius-top;

            h1 {
                position: absolute;
                bottom: 0;
                padding: 12px;
                color: $color-content-white;
                font-size: 28pt;
            }
        }
    }

    .content {
        padding: 12px;

        p {
            margin-bottom: 12px;
        }

        .links {
            width: 100%;
            text-align: center;
            padding-top: 32px;
            padding-bottom: 24px;

            a {
                border-radius: 5px;
                padding: 8px;
                background-color: $color-background-black;
                font-size: 24pt;
                text-transform: uppercase;

                &:hover {
                    @include transition($transition-duration);
                    border: $border-active;
                }

                @include transition($transition-duration);
                border: $border-inactive;
            }
        }
    }
}
