$margin-top-projects: calc(#{$nav-height} + 40px);
$width-project-banner: 240px;

.projects {
    margin-top: $margin-top-projects;
    min-height: calc(100vh - #{$margin-top-projects});

    .project-group {
        width: $width-project-banner;
        margin: 0 auto;

        .project-group-header {
            border-bottom: $border-inactive;
            max-width: $width-project-banner;
            padding-bottom: 4px;
            margin-bottom: 8px;

            img {
                width: 30px;
                margin-right: 8px;
                display: inline;
            }

            h4 {
                display: inline;
            }
        }

        .project {
            height: 40px;
            margin-bottom: 4px;

            &:hover {
                cursor: pointer;

                @include transition($transition-duration);
                outline: $border-active;
            }

            @include transition($transition-duration);
            outline: $border-off;
        }
    }
}
